<form action="/create" method = "post">
        <div>
            <label>Mark: </label>
            <input type="text" name="mark" placeholder="Enter mark...">
        </div>
        <div>
            <label>Model: </label>
            <input type="text" name="model" placeholder="Enter model...">
        </div>
        <div>
            <label>Year: </label>
            <input type="number" name="year" placeholder="Enter year...">
        </div>
        <div>
            <label>Price: </label>
            <input type="number" name="price" placeholder="Enter price...">
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
</form>